@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Styles */
body {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Google Sans', sans-serif;
}
